<div class="footer">
  <div class="footer-logo-border">
    <img src="assets/images/logo.png">
  </div>
  <div class="footer-line"></div>

  <div class="footer-title">Gratia Restaurant</div>
  <div class="footer-subtitle">Copyright 2016. All rights reserved by symu</div>
  <div class="social-networks">
    <a href="#" class="social-networks-icon" title="Join us on Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#" class="social-networks-icon" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#" class="social-networks-icon" title="Join us on Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>
</div>
