<div [@cardHover]="hoverOff ? 'hoverOff' : 'hoverOn'" class="card" (mouseover)="hover()" (mouseleave)="hover()">
  <div class="card-text">
    <div [@title]="hoverOff ? 'hoverOff' : 'hoverOn'" class="card-title">
      desserts
    </div>
    <div [@border]="hoverOff ? 'hoverOff' : 'hoverOn'" class="card-border"></div>
    <div [@description]="hoverOff ? 'hoverOff' : 'hoverOn'" class="card-description">
      lorem ipsum bidule truc
    </div>
  </div>
  <div [@layer]="hoverOff ? 'hoverOff' : 'hoverOn'" class="layer"></div>


  <div [ngStyle]="{'background-image': getUrl()}" class="card-img"></div>
</div>
