@import '../../assets/styles/variables';

@mixin italic-text($color) {
  font-family: $font-text-italic;
  font-size: $font-size-medium;
  font-style: italic;
  color: $color;
  text-align: center;
}

@mixin title {
  font-family: $font-text;
  font-size: $font-size-h1;
  text-align: center;
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}
