@import '../../../node_modules/@angular/material/theming';
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
/*
 * Global variables use on the app.
 * This file must be imported in the component if you want to use one of this variable.
 */

// Colors
$rimary-orange: #d89b64;
$primary-green: #829c2c;

$primary-light-color: #ffffff;
$primary-dark-color: #000000;
$font-text-color-darker: mat-color($custom-primary, 600);
$font-text-color-lighter: mat-color($custom-primary, 300);

$border-color: mat-color($custom-primary, 400);

//Palettes
$custom-primary: (
  50 : #f8f8f8,
  100 : #e7e7e7,
  200 : #e6e6e6,
  300 : #8b909d,
  400: #8a8f9c,
  500 : #263045,
  600 : #151b28,
  700 : #161b29,
  );

// Fonts
$font-size-h1: 45px;
$font-size-h1-mobile: 30px;

$font-size-small: 12px;
$font-size-extra-small: 10px;
$font-size-normal: 16px;
$font-size-btn: 18px;
$font-size-medium: 22px;

$font-text: 'Poppins', sans-serif;
$font-text-itallic: 'Crimson Text', serif;

// Transition
// $transition-in: .5s all ease-in;
// $transition-out: .5s all ease-out;

// Font-weight
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Mobile
$spacing-mobile: 30px;

//General
$button-size: 45px;
$icon-arrow: 15px;

